*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
}

body {
  font-family: sans-serif;
  background-color: #f2c57c;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
}
