.Quote {
  border: 4px solid #ef6f6c;
  margin: 0;
  padding: 10px 20px;
}

.Quote-quote {
  font-size: 22px;
  line-height: 1.4em;
}

.Quote-quote .fa {
  color: #ef6f6c;
}

.Quote-from::before {
  content: "—";
}
